{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:react/recommended", //recommended 붙여져 있는건 preset을 사용하겠다는 의미
    "prettier", // 8.0.0 버젼이상은 모두 prettier로 통합됨.
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "ignorePatterns": ["*.config.js"],
  "rules": {
    "max-len": ["error", { "code": 140, "ignoreUrls": true }],
    "import/prefer-default-export": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "react/no-unescaped-entities": [
      "error",
      {
        "forbid": [{ "char": ">", "alternatives": ["&gt;"] }, { "char": "}", "alternatives": ["&#125;"] }]
      }
    ],
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off"
  }
}
